// 自己的公用样式
// 重置样式
* {
  padding: 0;
  margin: 0;
  user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}

ul li{
  list-style: none;
}

::-webkit-scrollbar {
  width : 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  // background   : url(https://w.wallhaven.cc/full/2e/wallhaven-2erpym.jpg);
  filter       : blur(10px);
}
